body {
  margin: 50;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainhe{
  color: rgb(0, 0, 0);
  background-color: rgb(245, 239, 239);
  text-decoration: underline;
  padding:34px;
  text-align:center;
  background-image: url(https://www.kluniversity.in/images/klulogo3.png);
  cursor:zoom-in;
}